html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }
  
  .form-wrap {
    width: 850px;
    margin: 82px auto 0 auto;
    position: relative;
  }
  
  .form-wrap * {
    box-sizing: border-box;
  }
  
  .form-wrap form {
    background: #ffffff;
    border-radius: 0 0 20px 20px;
    box-shadow: -5px 5px 13px -3px #B9BAB8;
    padding: 2em;
  }
  
  .form .tab {
    position: absolute;
    border-radius: 20px 20px 0 0;
    background: #a1ffc5;
    bottom: 100%;
    width: 33%;
    text-align: center;
    padding: 1em 0;
    cursor: pointer;
    color: #ffffff;
  }
  
  .form.active .tab {
    border-radius: 20px 20px 0 0;
    background: rgb(0, 209, 66);
    color: rgb(255, 255, 255);
  }
  
  form {
    display: none;
    flex-direction: column;
    gap: 1em;
  }
  
  .form.active form { display: flex; }
  
  #form .tab { left: 0; }
  #form2 .tab { left: 33.5%; }
  #form3 .tab { right: 0; }

  button {
    display: block;
    margin: 0 auto;
    padding: 0.5em 2em;
    margin-top: 1em;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-top: 0.4em;
  }
  
  label {
   margin-bottom: 0.4em;
   margin-top: 0.4em;
  }

  .label__product {
    /* size: 3rem; */
    font-weight: 600;
    font-size: 1.5rem;
  }

  .product {
    display: flex!important;
    max-width: 100%;
  }

  .pic__product {
    width: 18em;
    height: 20em;
    margin-top: 1em;
    margin-left: 6.5rem;
  }

#number__input {  
  max-width: 3rem;
}

p {
  margin: 0.4em;
}